@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
    --primary-blue: hsl(233, 26%, 24%);
    --primary-green: hsl(136, 65%, 51%);
    --primary-cyan: hsl(192, 70%, 51%);

    --neutral-grey: hsl(233, 8%, 62%);
    --neutral-light-grey: hsl(220, 16%, 96%);
    --neutral-bright-grey: hsl(0, 0%, 98%);

    --white: hsl(0, 0%, 100%);

    --header-height: 3.5em;
    background-color: aquamarine;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
}
