@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
:root {
    --primary-blue: hsl(233, 26%, 24%);
    --primary-green: hsl(136, 65%, 51%);
    --primary-cyan: hsl(192, 70%, 51%);

    --neutral-grey: hsl(233, 8%, 62%);
    --neutral-light-grey: hsl(220, 16%, 96%);
    --neutral-bright-grey: hsl(0, 0%, 99%);

    --white: hsl(0, 0%, 100%);

    --header-height: 3.5em;
    background-color: white;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Public Sans", sans-serif;
    font-size: 18px;
}
body {
    overflow-x: hidden;
}
@media screen and (max-width: 1000px) {
    .desktop {
        display: none;
    }
}

.container {
    display: flex;
    flex-flow: column wrap;
}
.header {
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    align-items: center;
    padding: 0 1.5em;
    height: var(--header-height);
    z-index: 50;
}
.button {
    border-radius: 20px;
    padding: 1em 2em;
    border: none;
    color: var(--neutral-bright-grey);
    background: linear-gradient(
        90deg,
        rgba(49, 211, 80, 1) 0%,
        rgba(43, 183, 218, 1) 100%
    );
    font-size: 14px;
    font-weight: 400;
}

@media only screen and (min-width: 1000px) {
    .hero {
        display: flex;
        flex-flow: row-reverse;
        height: 100%;
    }
    .info-desktop {
        width: 50%;
    }
    .hero-image {
        overflow: visible;
        position: static;
        background-image: url("/images/bg-intro-desktop.svg");
        background-repeat: no-repeat;
        background-position: left center;
        width: 60%;
        min-height: 70vh;
    }
    .hero-image::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 939px;
        background-image: url("/images/image-mockups.png");
        background-size: auto auto;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 49 !important;
        left: 35vw;
        bottom: 10vh;
    }
}
@media screen and (min-width: 400px) and (max-width: 1000px) {
    .hero {
        background-color: var(--white);
    }
    .hero-image {
        position: relative;
        background-image: url("/images/bg-intro-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 14em;
    }
    .hero-image::after {
        content: "";
        position: absolute;

        width: 100%;
        height: 100%;
        background-image: url("/images/image-mockups.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1001;
    }
}
@media screen and (max-width: 400px) {
    .hero {
        background-color: var(--white);
    }
    .hero-image {
        position: relative;
        background-image: url("/images/bg-intro-mobile.svg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 14em;
    }
    .hero-image::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: url("/images/image-mockups.png");
        background-size: 78%;
        background-repeat: no-repeat;
        background-position: center bottom;
        z-index: 1001;
    }
}
h1 {
    font-weight: 300;
    font-size: 36px;
    color: var(--primary-blue);
    text-align: center;
}
@media screen and (min-width: 1000px) {
    h1 {
        text-align: left;
    }
    p {
        color: hsl(233, 8%, 62%);
        font-weight: 400;
        text-align: left;
    }
    .margin {
        padding: 0 10%;
    }

    .text {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 1100px) {
    p {
        color: hsl(233, 8%, 62%);
        font-weight: 400;
        text-align: center;
    }

    .text {
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 1em;
    }
}

@media screen and (min-width: 1100px) {
    .media-info {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .top {
        width: 50%;
    }
    .info {
        padding: 3em 0;
    }
}
@media screen and (max-width: 1100px) {
    .media-info {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 1em;
    }
}
.media-info > * {
    margin-bottom: 1em;
}
.info {
    background-color: var(--neutral-light-grey);
}
.media-info div .button {
    margin-bottom: 4em;
}
.info {
    display: flex;
    flex-flow: column nowrap;
}
.top {
    margin-top: 3em;
}
h2 {
    font-weight: 400;
    color: var(--primary-blue);
    font-size: 20px;
}
.icon-card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
@media (min-width: 1100px) {
    .icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-top: 2em;
    }
    .icon-card {
        display: flex;
        flex-flow: column nowrap;
        justify-content: baseline;
        align-items: flex-start;
    }
}
@media screen and (max-width: 1100px) {
    .icons {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        margin: 2em;
    }
}

.icon-card > * {
    margin-bottom: 1.25em;
}
.articles {
    background-color: var(--neutral-bright-grey);
    padding-bottom: 5em;
}

.articles-title {
    margin-bottom: 1em;
    padding-top: 3em;
}
.article-img-content {
    position: relative;
    object-fit: cover;
}
.article-img-content .article-img {
    width: 100%;

    height: 25vh;

    object-fit: cover;
}
.article-card {
    background-color: var(--white);
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
}

.article-card-content {
    padding: 1.5em;
}
.article-card-content > * {
    text-align: left;
    margin-bottom: 10px;
}
.article-heading {
    font-weight: 400;
    font-size: 0.9em;
    color: var(--primary-blue);
}
.article-text {
    font-size: 0.7em;
    line-height: 1.5;
}
.small {
    font-size: 0.5em;
}
.article-content {
    display: flex;
    flex-flow: row wrap;
}

@media screen and (min-width: 1000px) {
    .article-content {
        display: flex;
        flex-flow: row;
    }
    .article-content > :nth-child(2) {
        margin: 0 1em;
    }
    .article-content > :nth-child(3) {
        margin-right: 1em;
    }
}
@media screen and (max-width: 1000px) {
    .article-content > * {
        margin: 0.75em 1.5em;
    }
}
.footer-left {
    text-align: center;
}
.footer-right {
    text-align: center;
}
.footer-logo {
    margin-bottom: 1.5em;
}
.footer-button {
    margin-bottom: 1.5em;
}

footer {
    background-color: var(--primary-blue);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
}
footer > * {
    margin: 0.75em;
}
.footer-link {
    color: white;
    font-weight: 400;
    font-size: 0.75em;
}

@media screen and (max-width: 800px) {
    .footer-menu ul li {
        margin: 1em 0;
    }
    .footer-icons > * {
        margin: 0 0.5em;
    }
}
.medium {
    font-size: 0.75em;
    margin-bottom: 2em;
}
@media screen and (min-width: 800px) {
    footer {
        background-color: var(--primary-blue);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1em;
        max-height: 250px;
        padding: 2em 5em;
    }
    .menu-link {
        margin-top: 0;
    }
    .footer-menu ul {
        column-count: 2;
        vertical-align: top;
    }
    .footer-menu {
        display: flex;
        flex-flow: row wrap;
        margin-left: 4em;
    }
    .footer-menu ul li {
        margin: 0 0 1em 0;
    }
    footer > * {
        margin: 0;
    }
    .medium {
        margin-bottom: 0;
    }
    .footer-left {
        display: flex;
    }
    .footer-right {
        text-align: right;
    }
    .footer-right .footer-copyrigth {
        margin-top: 2em;
    }
    .footer-icons {
        margin-top: 3em;
    }
    .footer-icons > * {
        margin: 0;
    }
}

@media screen and (min-width: 1400px) {
    footer {
        background-color: var(--primary-blue);
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 1em;
        max-height: 250px;
        padding: 2em 5em;
    }
    .menu-link {
        margin-top: 0;
    }
    .footer-menu ul {
        column-count: 2;
        vertical-align: top;
    }
    .footer-menu {
        display: flex;
        flex-flow: row wrap;
        margin-left: 5em;
    }
    .footer-menu ul li {
        margin: 0 0 1em 5em;
    }
    footer > * {
        margin: 0;
    }
    .medium {
        margin-bottom: 0;
    }
    .footer-left {
        display: flex;
    }
    .footer-right {
        text-align: right;
    }
    .footer-right .footer-copyrigth {
        margin-top: 2em;
    }
    .footer-icons {
        margin-top: 3em;
    }
    .footer-icons > * {
        margin: 0;
    }
}
